
@model Web.Models.Stuff
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Hei</title>
    </head>
    <body>
        <div>
              Hei du, @Model.ConnectionString
        </div>
    </body>
</html>